@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "chakrapetch-Bold";
  src: url("../public/fonts/ChakraPetch-Bold.ttf")
}

@font-face {
  font-family: "chakrapetch-BoldItalic";
  src: url("../public/fonts/ChakraPetch-BoldItalic.ttf")
}

@font-face {
  font-family: "chakrapetch-Italic";
  src: url("../public/fonts/ChakraPetch-Italic.ttf")
}
@font-face {
  font-family: "chakrapetch-Light";
  src: url("../public/fonts/ChakraPetch-Light.ttf")
}

@font-face {
  font-family: "chakrapetch-Medium";
  src: url("../public/fonts/ChakraPetch-Medium.ttf")
}

@font-face {
  font-family: "chakrapetch-MediumItalic";
  src: url("../public/fonts/ChakraPetch-MediumItalic.ttf")
}

@font-face {
  font-family: "chakrapetch-Regular";
  src: url("../public/fonts/ChakraPetch-Regular.ttf")
}

@font-face {
  font-family: "chakrapetch-SemiBold";
  src: url("../public/fonts/ChakraPetch-SemiBold.ttf")
}

@font-face {
  font-family: "chakrapetch-SemiBoldItalic";
  src: url("../public/fonts/ChakraPetch-SemiBoldItalic.ttf")
}
